body {
  background: #171717;
  margin-left: 50px;
  margin-right: 50px;
}

.header {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 40px;
}

.contact {
  text-decoration: none;
  padding: 10px 25px;
  border: 1px solid;
  color: #e4b564;
}
.logo-img {
  width: 216px;
  height: 33px;
}
.contact-link {
  font-family: "Circe", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #e4b564;
  padding-left: 10px;
}
.main {
  width: 100%;
  margin: 0 auto;
}
h1 {
  font-family: "Gilam", sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;
  color: #ffffff;
  margin-top: 120px;
  margin-bottom: 21px;
}
.text {
  font-family: "Gilam", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  color: #ffffff;
}
.section1 {
  margin-top: 41px;
  margin-bottom: 161px;
  height: 960px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(6, 1fr);
  color: #ffffff;
  font-family: "Gilam", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  gap: 27px;
}
.section1-link {
  display: grid;
  margin: 201px 40px;
  justify-items: center;
  text-align: center;
}
.section1-1 {
  grid-column: 1/3;
  grid-row: 1/2;
  background: #634f2c;
}
.section1-2 {
  grid-column: 3/5;
  grid-row: 1/2;
  background: #b4a385;
}
.section1-3 {
  grid-column: 5/7;
  grid-row: 1/2;
  background: #e4b564;
}
.section1-4 {
  grid-column: 1/4;
  grid-row: 2/3;
  background: #635a4a;
}
.section1-5 {
  grid-column: 4/7;
  grid-row: 2/3;
  background: #b08c4d;
}
.section2 {
  color: #ffffff;
  font-family: "Gilam", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  height: 900px;
  margin-top: 94px;
}
.section2-1 {
  position: relative;
  background: #0e0e0e;
  grid-row: 1/3;
  grid-column: 1;
}
.section2-2 {
  background: #242424;
  grid-row: 1/4;
  grid-column: 2;
}
.section2-3 {
  background: #1f1f1f;
  height: 255px;
  grid-row: 1/2;
  grid-column: 3;
  font-weight: 500;
}
.section2-4 {
  background: #1f1f1f;
  grid-row: 3/7;
  grid-column: 1;
  font-weight: 500;
}
.section2-5 {
  background: #0e0e0e;
  height: 1fr;
  grid-row: 2/5;
  grid-column: 3;
}
.section2-6 {
  background: #0a0909;
  height: 277px;
  grid-row: 5/7;
  grid-column: 3;
  font-weight: 500;
}
.section2-7 {
  background: #e4b564;
  grid-row: 4/7;
  grid-column: 2;
  font-weight: 500;
}
.section2-link {
  position: absolute;
  width: 302px;
  margin-left: 50px;
  margin-top: 44px;
}

.footer {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 240px;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 360px;
  margin-bottom: 72px;
  align-items: center;
}

.footer-content-clients {
  margin-top: 20px;
}
.footer-content-link {
  font-family: "Circe", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  color: #e4b564;
  width: 180px;
  border: 1px solid #e4b564;
  text-align: center;
  padding: 10px 0 10px;
}
.footer-partners {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 780px;
}
.footer-partners-block {
  position: relative;
}
.footer-partners-info {
  font-family: "Gilam", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 28px;
}
.footer-partners-address {
  font-family: "Gilam", sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
}
.footer-partners-block:nth-child(1) {
  background: #634f2c;
}
.footer-partners-block:nth-child(2) {
  background: #e8d2abc2;
}
.footer-partners-block:nth-child(3) {
  background: #e4b564;
}
.footer-partners-block:nth-child(4) {
  background: #635a4a;
}
.footer-partners-block:nth-child(5) {
  background: #b08c4d;
}
.footer-partners-block:nth-child(6) {
  background: #634f2c;
}
.footer-partners-logo-eid {
  position: absolute;
  top: 171px;
  left: 151px;
}
.footer-partners-logo-ball {
  position: absolute;
  top: 61px;
  left: 217px;
}
.footer-partners-logo-mavis {
  position: absolute;
  top: 119px;
  left: 173px;
}
.info {
  color: #ffffff;
  position: absolute;
  top: 180px;
  left: 80px;
  right: 88px;
  text-align: center;
}
.footer-partners-logo-arsenal {
  position: absolute;
  top: 174px;
  left: 149px;
}
.footer-partners-logo-selt {
  position: relative;
}
.footer-partners-logo-selt:nth-child(1) {
  position: absolute;
  top: 169.5px;
  left: 184px;
}
.footer-partners-logo-selt:nth-child(2) {
  position: absolute;
  top: 182px;
  left: 192px;
}
.footer-partners-logo-selt:nth-child(3) {
  position: absolute;
  top: 186.5px;
  left: 207.6px;
}
.footer-partners-logo-selt:nth-child(4) {
  position: absolute;
  top: 183px;
  left: 220px;
}
.footer-partners-logo-selt:nth-child(5) {
  position: absolute;
  top: 181px;
  left: 232px;
}
.footer-partners-logo-selt:nth-child(6) {
  position: absolute;
  top: 182px;
  left: 238px;
}
.footer-partners-logo-selt:nth-child(7) {
  position: absolute;
  top: 186.5px;
  left: 255px;
}
.footer-partners-logo-selt:nth-child(8) {
  position: absolute;
  top: 186.5px;
  left: 263px;
}
.footer-partners-logo-selt:nth-child(9) {
  position: absolute;
  top: 187px;
  left: 277.5px;
}
.footer-partners-logo-selt:nth-child(10) {
  position: absolute;
  top: 186.5px;
  left: 291px;
}
